@charset "UTF-8";

/* Last edit: 2/18/2018 8:00 PM */
/* Last validated error free: 2/18/2018 9:27 PM */

/* Cite code */
ul {list-style-type: none;
margin: 0;
padding: 0}
ul {border: 3px solid #555}
ul {border-style: groove}
ul {text-align: center}
li {display: inline}


p {margin: auto; margin-left: 100; margin-right: 100;
}

body {background-image: url(strawberry-wallpaper.css.png)}
background-attachment:fixed; }
h1 {background-color: lightpink; }
h2 {background-color: lightpink; }
h3 {background-color: lightpink; }
h4 {background-color: lightpink; }
h6 {background-color: lightpink; }
p {background-color: lightpink; }
nav {background-color: lightpink; }
footer {background-color: lightpink; }
blockquote {background-color: lightpink; }
li {background-color: lightpink}
a {background-color: lightpink}

#header{
    font-family: "helvetica";
}

#curated{
    background-color: lightpink;
}

img{
    float: none;
    width: 50%;
}

#gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
}

main li{display: block}

footer li {
    border-style: none;
    display: inline;
    }